wp-admin
wp-includes
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php 
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
local-xdebuginfo.php
wp-content/uploads
wp-content/upgrade
wp-content/backup-db
wp-content/cache
wp-content/themes/index.php
wp-content/ai1wm-backups
wp-content/languages
wp-content/upgrade
wp-content/jetpack-waf
wp-content/debug.log
wp-content/wp-cache-config.php
wp-content/litespeed
wp-content/mu-plugins
wp-content/w3tc-config
wp-content/index.php
wp-content/themes/hello-elementor
wp-config.php
wp-content/plugins/elementor
wp-content/plugins/elementor-pro
wp-content/plugins/addon-elements-for-elementor-page-builder
wp-content/plugins/advanced-custom-fields-pro
wp-content/plugins/advanced-custom-fields
wp-content/plugins/all-in-one-wp-migration-master
wp-content/plugins/alpha-sms
wp-content/plugins/bdthemes-element-pack
wp-content/plugins/bdthemes-element-pack-pro
wp-content/plugins/bdthemes-element-pack-pro.zip
wp-content/plugins/bdthemes-element-pack-lite
wp-content/plugins/classic-widgets
wp-content/plugins/code-snippets
wp-content/plugins/cpt-woo-integration
wp-content/plugins/custom-post-type-ui
wp-content/plugins/digits
wp-content/plugins/duracelltomi-google-tag-manager
wp-content/plugins/easy-wp-smtp
wp-content/plugins/ele-custom-skin
wp-content/plugins/essential-addons-for-elementor-lite
wp-content/plugins/happy-elementor-addons
wp-content/plugins/hostinger
wp-content/plugins/hostinger-easy-onboarding
wp-content/plugins/litespeed-cache
wp-content/plugins/magical-posts-display
wp-content/plugins/miniorange-otp-verification
wp-content/plugins/tablesome
wp-content/plugins/the-plus-addons-for-elementor-page-builder
wp-content/plugins/woocommerce
wp-content/plugins/ultimate-member
wp-content/plugins/wp-mail-logging
wp-content/plugins/wp-super-cache
wp-content/plugins/wpforms-lite 
wp-content/plugins/login-with-phone-number
wp-content/jpcrm-storage
wp-content/themes/woodmart
.htaccess.bk 
wp-content/plugins/click-to-chat-for-whatsapp
wp-content/plugins/woo-product-slider
wp-content/plugins/woo-product-slider-pro  
wp-content/plugins/contact-form-7
wp-content/plugins/facebook-for-woocommerce
wp-content/plugins/google-listings-and-ads
wp-content/plugins/google-site-kit
wp-content/plugins/insert-headers-and-footers
wp-content/plugins/mmg-checkout-payment
wp-content/plugins/relevanssi
wp-content/plugins/relevanssi-live-ajax-search
wp-content/plugins/jetpack
wp-content/plugins
